# .NET
bin/
obj/
*.user
*.suo
*.sln.ide
*.sln.docstates
*.userprefs

# Visual Studio
.vs/
.vscode/
*.sln.ide
*.sln.docstates

# Rider
.idea/
*.sln.iml

# NuGet
*.nupkg
*.snupkg
packages/
*.nuspec

# Logs
*.log

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
