@model IEnumerable<ContactViewModel>

@{
    ViewData["Title"] = "Телефонный справочник";
    Layout = "_Layout";
}

<div class="container">
    <h1 class="mb-4">Контакты</h1>

    <div class="row mb-4">
        <div class="col d-flex align-items-stretch">
            <form asp-action="Search" method="get" class="d-flex flex-grow-1">
                <input type="text" name="query" class="form-control flex-grow-1 search-shadow" placeholder="Поиск" value="@ViewBag.SearchQuery" id="liveSearchInput">
                <button type="button" id="clearSearchBtn" class="btn btn-primary flex-shrink-0 ms-2 search-shadow">Х</button>
            </form>
        </div>
    </div>

    <div id="contacts-container"></div>
</div>

@section Scripts {
    <script src="~/js/infinite-scroll.js"></script>
}
