@{
    ViewData["Title"] = "Администрирование";
    Layout = "_MainLayout";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4">Добро пожаловать в Ldap Tels</h1>
            <p class="lead">Телефонный справочник на основе данных из LDAP сервера</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Телефонный справочник</h5>
                    <p class="card-text">Просмотр и поиск контактов в телефонном справочнике.</p>
                    <a href="/" class="btn btn-primary">Перейти к справочнику</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">API Документация</h5>
                    <p class="card-text">Документация по API для интеграции с другими системами.</p>
                    <a href="/swagger" class="btn btn-primary">Открыть Swagger</a>
                </div>
            </div>
        </div>
    </div>
</div>